* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans 3", sans-serif;
}

main{
    background-image: url(images/fotomain.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
}

.contenido-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black 2px solid;
    gap: 10px;
}

nav{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    gap: 200px;
}

header{
    margin-top: 0px;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 50px;
    text-decoration: none;
}


nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.margen-contenido{
    margin-right: 20%;
    margin-left: 20%;
    
    
}

.franja-superior{
    background-color: rgb(21, 21, 73);
    color: white;
}

.texto-superior{
    padding: 25px 0px 25px 0px;
}

footer{
    background-color: rgb(21, 21, 73);
    height: 116px;
    display: flex;
    align-items: center;
}

.footer-flex{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}

.footer-flex button{
    height: auto;
    width: 200px;
    padding: 10px;
}

.footer-flex button{
    height: auto;
    width: 240px;
    font-size: smaller;
    font-weight: bold;
    color: rgb(21, 21, 73);
}

.navegacion-flex{
    height: 120px;
}

h2{
    border-right: #ffffff 2px solid;
    padding-right: 25px;
    font-weight: 300;
}
.about-button{
    height: auto;
    width: 150px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color: rgb(21, 21, 73);
    background-color: white;
    border: none;
    cursor: pointer;
}
.titulo-main{
    font-size: 50px;
    color: rgb(21, 21, 73);
    font-weight: bold;
}